/* Because IE is dumb */
/* http://getbootstrap.com/getting-started/#browsers */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: sans-serif;
	padding-top: 70px;
}

noscript {
	font-size: 24px;
}

h1 {
	font-size: 60px;
	font-weight: 300;
	/*padding-top: 50px;*/
}

section {
	width: 100%;
}

option {
	padding: 2px 0 2px 8px;
}

form select.form-control {
	padding-top: 9px;
}

.jumbotron h1 {
	font-weight: 400;
	padding-top: 0;
	margin: 5px 0 15px;
}
.jumbotron ul {
	margin-left: 15px;
}
.jumbotron label {
	font-weight: 200;
}
.jumbotron hr {
	border-color: #D7D7D7;
}
.jumbotron form .form-group label + div {
	padding-top: 11px;
}

.pointer, .help {
	cursor: pointer;
}

.glyphicon-question-sign {
	font-size: 20px;
	color: #56A0BE;
}

div.popover {
	z-index: 99999;
}

.no-wrap {
	white-space: nowrap;
}

td.middle {
	vertical-align: middle;
}

span.required {
	color: #FF0000;
	left: 3px;
	position: relative;
}

/************************
 *   Bootstrap Resets   *
 ************************/

.panel .table-striped > tbody > tr:nth-child(2n+1) > td, .panel .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #f9f9f9;
}
.panel .table-hover > tbody > tr:hover > td, .panel .table-hover > tbody > tr:hover > th {
    background-color: #f5f5f5;
}
.panel .table > thead > tr > th, .panel .table > tbody > tr > th, .panel .table > tfoot > tr > th, .panel .table > thead > tr > td, .panel .table > tbody > tr > td, .panel .table > tfoot > tr > td {
	border-color: #ddd;
}

.panel-default > .panel-heading {
	background-image: none;
}

.navbar-default {
	background-image: none;
}

/******************
 *   Glyphicons   *
 *****************/

/* Hide descriptions of text */
.glyphicon span {
	display: none;
}

/* Colors used for glyphs */
/*.green {color: #228B22;}*/
.green {color: #008B00;}
/*.red {color: #CD2626;}*/
.red {color: #CD0000;}

/******************
 *   Navigation   *
 *****************/

.navbar-brand {
	padding: 12px 15px;
}

.navbar-brand h1 {
	font-size: 24px;
	margin: 0;
}

.navbar-brand h1 small {
	font-size: 56%;
	font-weight: normal;
}

.label-default {
	background-color: #8CBEB2;
}

.navbar-nav > li > a {
	font-weight: 100;
}

/**************
 *   Footer   *
 *************/

/* Sticky footer styles */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}
/* Set the fixed height of the footer here */
footer {
  height: 60px;
  background-color: #5C4B51;
  color: #EBE0BB;
}
.container .credit {
  margin: 20px 0;
}
footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

/************
 *   Home   *
 ***********/

/* This parent can be any width and height */
#home-block {
	text-align: center;
	height: 200px;
	font-size: 0;
}
 
/* The ghost, nudged to maintain perfect centering */
#home-block:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	/*margin-right: -0.05em;  /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */ 
#home-centered {
	display: inline-block;
	vertical-align: middle;
	width: 100%%;
	font-size: 14px;
}

.home-title {
	text-align: center;
	margin: 0 0 25px 0;
	position: relative;
	top: -1000px;
}

.intro-form {
	position: relative;
	left: -2000px;
}

/*************
 *   Login   *
 ************/

.btn-login-google {
	background: transparent url('../images/social/Google-White-signin-Long-Base-20dp.png') no-repeat 0 0px;
	text-indent:-9999px;
	height: 60px;
	width: 294px;
	display: block;
}
.btn-login-google:hover {
	background: transparent url('../images/social/Google-White-signin-Long-Hover-20dp.png') no-repeat 0 0px;
}
.btn-login-google:active {
	background: transparent url('../images/social/Google-White-signin-Long-Press-20dp.png') no-repeat 0 0px;
}

/*************
 *   Tests   *
 ************/

.tests-list tbody > tr > td, .sessions-list tbody > tr > td, tbody > tr > td.middle {
    vertical-align: middle;
}

.create-form .panel .panel-heading h3 {
	margin-top: 10px;
}

.question-wrapper h4 {
	cursor: pointer;
}
.question-wrapper h4 > span {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);

	font-size: 11px;
	color: #A7A7A7;
	padding-right: 4px;
	position: relative;
	top: -1px;
}
.question-wrapper h4 > span.collapsed {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);

	top: -2px;
}

.media-group .input-group input[type="text"]
{
	height: 34px;
}
.media-group .input-group .input-group-btn {
	min-width: 117px;
}
.media-group .input-group-btn > .btn + .btn {
	margin-left: -1px;
}

/*************
 * Presenter *
 ************/

/*************
 *  Student  *
 ************/

.student .single-control {
	margin: 30px auto 10px;
}

/****************
 * Tests Shared *
 ***************/

#test-active .controls {
	max-width: 201px;
	margin: 30px auto 10px;
}
#form-data {
	margin-top: 15px;
}
#form-data legend.lead {
	font-size: 25px;
}

/**********
 * Simple *
 **********/

.simple { padding-top: 0; }

.simple .page-header h1 {
	font-size: 35px;
	margin-top: 35px;
}

.simple .page-header .row > div + div {
	padding-left: 0;
}

/**************
 * Responsive *
 **************/

/* Large desktop */
@media (min-width: 1200px) {}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 992px) and (max-width: 1199px) {}
 
/* Landscape phone to portrait tablet */
@media (min-width: 768px) and (max-width: 991px) {
	h1 {
		font-size: 47px;
	}
}
 
/* Landscape phones and down */
@media (max-width: 767px) {
	h1 {
		font-size: 31px;
	}
	.simple .page-header .row > div + div {
		padding-left: 15px;
	}
}

/* Portrait phones */
@media (max-width: 456px) {
	h1 {
		font-size: 24px;
	}
}
