/* Because IE is dumb */
/* http://getbootstrap.com/getting-started/#browsers */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: sans-serif;
}
h1 {
	font-size: 60px;
	font-weight: 300;
	padding-top: 50px;
}
section {
	width: 100%;
}

form select.form-control {
	padding-top: 9px;
}

.pointer {
	cursor: pointer;
}

/******************
 *   Glyphicons   *
 *****************/

/* Hide descriptions of text */
.glyphicon span {
	display: none;
}

/* Colors used for glyphs */
/*.green {color: #228B22;}*/
.green {color: #008B00;}
/*.red {color: #CD2626;}*/
.red {color: #CD0000;}

/******************
 *   Navigation   *
 *****************/

body { padding-top: 70px; }
.simple { padding-top: 0; }

/**************
 *   Footer   *
 *************/

/* Sticky footer styles */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}
/* Set the fixed height of the footer here */
footer {
  height: 60px;
  background-color: #f5f5f5;
}
.container .credit {
  margin: 20px 0;
}
footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

/************
 *   Home   *
 ***********/

.button {
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	padding: 7px 0 7px 7px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	display:inline-block;
}
.started {
	width: 150px;
	height: 70px;
	position: relative;
	left: -5px;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	padding: 25px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.home-title {
	text-align: center;
	margin: 200px 0 25px 0;
	position: relative;
	top: -1000px;
}
.intro-form {
	position: relative;
	left: -2000px;
	opacity: 0;
	margin-top: 50px;
	width: 700px;
	margin: 0 auto;
}
.intro-form input[type="text"] {
	width: 500px;
	height: 50px;
	line-height: 50px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 2px solid #EEE;
	font-size: 25px;
	text-indent: 15px;
	margin: 0;
	padding: 0;
}

/*************
 *   Login   *
 ************/

.btn-login-google {
	background: transparent url('../images/social/Google-White-signin-Long-Base-20dp.png') no-repeat 0 0px;
	text-indent:-9999px;
	height: 60px;
	width: 294px;
	display: block;
}
.btn-login-google:hover {
	background: transparent url('../images/social/Google-White-signin-Long-Hover-20dp.png') no-repeat 0 0px;
}
.btn-login-google:active {
	background: transparent url('../images/social/Google-White-signin-Long-Press-20dp.png') no-repeat 0 0px;
}

/*************
 *   Tests   *
 ************/

.tests-list tbody > tr > td, .sessions-list tbody > tr > td, tbody > tr > td.middle {
    vertical-align: middle;
}

.create-form .panel .panel-heading h3 {
	margin-top: 10px;
}

.question-wrapper h4 {
	cursor: pointer;
}
.question-wrapper h4 > span {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);

	font-size: 11px;
	color: #A7A7A7;
	padding-right: 4px;
	position: relative;
	top: -1px;
}
.question-wrapper h4 > span.collapsed {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);

	top: -2px;
}

.radio-buttons input {
	display: none;
}
.radio-buttons .btn {
	margin-left: -5px;
}
.radio-buttons input:checked + label {
	background-color: #E8E8E8;
}
