* {
	margin: 0;
	padding: 0;
}
body {
	font-family: sans-serif;
}
h1 {
	font-size: 60px;
	font-weight: 300;
	padding-top: 50px;
}
section {
	width: 100%;
}
.button {
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	padding: 7px 0 7px 7px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	display:inline-block;
}
.started {
	width: 150px;
	height: 70px;
	position: relative;
	left: -5px;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	padding: 25px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
nav {
	width: 100%;
	height: 50px;
	position: fixed;
	z-index: 9;
	top: 0;
	display: block;
	background: #dd577a; /* Old browsers */
	background: -moz-linear-gradient(top, #dd577a 0%, #db6d89 44%, #db728c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dd577a), color-stop(44%,#db6d89), color-stop(100%,#db728c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #dd577a 0%,#db6d89 44%,#db728c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #dd577a 0%,#db6d89 44%,#db728c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #dd577a 0%,#db6d89 44%,#db728c 100%); /* IE10+ */
	background: linear-gradient(to bottom, #dd577a 0%,#db6d89 44%,#db728c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd577a', endColorstr='#db728c',GradientType=0 ); /* IE6-9 */
}
nav a {
	color: #FFFFFF;
	text-decoration: none;
}
nav a:hover {
	color: #FFF0CF;
}
nav ul {
	float: right;
	margin-right: 50px;
}
nav li {
	float: left;
	list-style: none;
	line-height: 50px;
	padding-left: 25px;
}
.home-title {
	text-align: center;
	margin: 200px 0 25px 0;
	position: relative;
	top: -1000px;
}
.intro {
	position: relative;
	left: -2000px;
	opacity: 0;
	margin-top: 50px;
	width: 700px;
	margin: 0 auto;
}
.intro input[type="text"] {
	width: 500px;
	height: 50px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 2px solid #EEE;
	font-size: 25px;
	text-indent: 15px;
	margin: 0;
	padding: 0;
}
footer {
	text-align: center;
}