<div class="question-wrapper">
	<h3>QUESTION_TYPE<button class="remove-question">Remove</button></h3>
	<input type="hidden" name="questions[new][QID][type_id]" value="TYPE_ID" />
	<label for="question-QID">Question: </label>
	<input type="text" name="questions[new][QID][question]" value="" id="question-QID" />
	<label for="seconds-QID">Seconds: </label>
	<input type="text" name="questions[new][QID][seconds]" value="" id="seconds-QID" />
	<div clas="clr"></div>
</div>