<div class="question-wrapper">
	<h3>QUESTION_TYPE<button class="remove-question">Remove</button></h3>
	<input type="hidden" name="questions[QID][type_id]" value="TYPE_ID" />
	<label for="question-QID">Question: </label>
	<input type="text" name="questions[QID][question]" value="QUESTION_TITLE" id="question-QID" />
	<label for="seconds-QID">Seconds: </label>
	<input type="text" name="questions[QID][seconds]" value="QUESTION_SECONDS" id="seconds-QID" />
	<div clas="clr"></div>
	Media:
	<input type="text" name="questions[QID][media]" value="QUESTION_MEDIA" id="media-QID" />
	<label>
		<input type="radio" name="questions[QID][media_type]" value="link" OPTION_VALID_LINK />
		Link
	</label>
	<label>
		<input type="radio" name="questions[QID][media_type]" value="image" OPTION_VALID_IMAGE />
		Image
	</label>
	<label>
		<input type="radio" name="questions[QID][media_type]" value="youtube" OPTION_VALID_YOUTUBE />
		YouTube
	</label>
	<div clas="clr"></div>
</div>