<div class="question-wrapper">
	<h3>QUESTION_TYPE<button class="remove-question">Remove</button></h3>
	<input type="hidden" name="questions[QID][type_id]" value="TYPE_ID" />
	<label for="question-QID">Question: </label>
	<input type="text" name="questions[QID][question]" value="QUESTION_TITLE" id="question-QID" />
	<label for="seconds-QID">Seconds: </label>
	<input type="text" name="questions[QID][seconds]" value="QUESTION_SECONDS" id="seconds-QID" />
	<label for="min-answers-QID">Minimum Answers: </label>
	<input type="text" name="questions[QID][min_answers]" value="QUESTION_MIN_ANSWERS" id="min-answers-QID" />
	<div clas="clr"></div>
	Answers:
	<div clas="clr"></div>
	<div class="answers">
		<table a:count="COUNTER_START">
			<thead>
				<tr>
					<th>Answer</th>
					<th>Correct Answer</th>
					<th colspan="2">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				{OPTION_START}
				<tr>
					<td>
						<input type="text" name="questions[QID][options][COUNTER]" value="OPTION_TITLE" class="input-increment clear-input" />
					</td>
					<td>
						<input type="checkbox" name="questions[QID][answers][]" value="COUNTER" class="val-auto-increment" OPTION_VALID />
					</td>
					<td>
						<button class="add-new-answer">Add</button>
					</td>
					<td>
						<button class="remove-answer">Remove</button>
					</td>
				</tr>
				{OPTION_END}
			</tbody>
		</table>
	</div>
</div>